# Copy this file to .env and fill in your local values.
# Never commit .env to git.

# Django
DJANGO_SECRET_KEY=secret-key-for-development
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,insightflow-backend
SECURE_SSL_REDIRECT=False

# Application database (local)
DB_HOST=insightflow-dev-app-db.cf6io6y406u0.eu-west-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=insightflow_app
DB_USER=insightflow
DB_PASSWORD=TestPAssword1234!

# Data warehouse (local)
WAREHOUSE_DB_HOST=insightflow-dev-warehouse-db.cf6io6y406u0.eu-west-1.rds.amazonaws.com
WAREHOUSE_DB_PORT=5432
WAREHOUSE_DB_NAME=insightflow_warehouse
WAREHOUSE_DB_USER=insightflow_wh
WAREHOUSE_DB_PASSWORD=TestPAssword1234!

# Redis
REDIS_URL=redis://redis:6379/0

# ETL
ETL_BATCH_SIZE=1000
